body {
  background-color: #90ff76;
  font-family: Arial, sans-serif;
}

#principal {
  text-align: center;
  color: #7b75ff;
}
h1 {
  text-align: center;
  color: #00700d;
}

h2 {
  text-align: center;
  color: #fc9c65;
}

.basico {
  background-color: #b8ce6ab6;
}
.intermediario {
}

.avancado {
  color: #29c24a;
}
.destaque {
  background-color: #4a5592b2;
}
